.button--menu {
    margin: 0 16px;
    background-image: url("./images/burger.svg");
}

    .service-list__button--text-visible {
        font-size: 0;
    }

.button {
    border: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    display: block;
    cursor: pointer;
}


@media (min-width: 20px) and (max-width: 767px){
   

    .header {
            background: white;
            max-height: 88px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap:nowrap;
            border-bottom: 1px solid #41F6D7;
        }

    .header__contact-list {
        display: none;
    }

    .service-list {
        display: flex;
        width: 156px;
    }

    .service-list__button--text-visible {
        font-size: 0;
    }

    .service-list::before {
        content: '';
        background-image: url("./images/divider.svg");
        padding: 16px 2px;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
    }
}    

@media (min-width: 768px) and (max-width: 1119px) {
    .header {
        background: white;
        max-height: 88px;
        display: flex;
        align-items: center;
        flex-wrap:nowrap;
        border-bottom: 1px solid #41F6D7;
        justify-content: flex-end;
    }

    .header__contact-list {
        display: flex;
        width: 160px;
        //justify-self: end;
        margin-left: auto;
        margin-right: 20px;
    }

    .service-list {
        display: flex;
        width: 120px;
        margin:0 40px 0 20px;
    }


    .service-list__button--text-visible {
        font-size: 0;
    }

    .header__service-list::before {
        content: '';
        background: center no-repeat url("./images/divider.svg");
        padding: 16px 4px;
        margin-right: 16px;
    }

    .header__logo::before {
        content: '';
        background: center no-repeat url("./images/divider.svg");
        padding: 14px 4px;
        position: relative;
        left: -20px;
        top: -16px;
    }

    .header__logo {
        margin-left: 32px;
    }
}

@media (min-width:1120px) {

    .body_desktop-positioner {
        position:relative;
        margin: 0 auto;
        max-width: 1120px;
    }
    
      .nav__list {
        flex-wrap: wrap;
        overflow-x:hidden;
    }

    .header__contact-list, .header__menu-btn, .logo {
        display: none;
    }


    .header {
        display: flex;
    }

    .header__service-list {
        position: absolute;
        right: 0;
        top:-15px;
        display: flex;
        width: 520px;
    }

    .button--repair-request {
        background-image: url("./images/repair.svg");
        background-position: right;
        padding-right: 50px;
        margin-right: 32px;
        text-align: left;
        font-size: 16px;
        font-family: "TT Lakes", "Arial", "Roboto Light", sans-serif;
        font-weight: 500;
    }

    .button--status-request {
        background-image: url("./images/checkstatus-1.svg");
        background-position: right;
        padding-right: 50px;
        margin-right: 32px;
        text-align: left;
        font-size: 16px;
        font-family: "TT Lakes", "Arial", "Roboto Light", sans-serif;
        font-weight: 500;
    }

    .service-list__button--text-visible {
        background-position: right;
        padding-right: 50px;
        margin-right: 32px;
        text-align: left;
        font-size: 16px;
        font-family: "TT Lakes", "Arial", "Roboto Light", sans-serif;
        font-weight: 500;
    }


}

    .header {
            background: white;
            max-height: 88px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap:nowrap;
            border-bottom: 1px solid #41F6D7;
        }

    .service-list {
        display: flex;
        width: 156px;
    }




    .service-list::before {
        content: '';
        background-image: url("./images/divider.svg");
        padding: 16px 2px;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
    }

.header__logo {
    margin: 10px 16px 0 0;
}

@import './header-menu/__service-list/__service-list.css';
@import './header-menu/__contact-list/__contact-list.css';
